<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rewind-Remind</title>
</head>
<body>
    
    <% user.firstname[0] = user.firstname[0].toUpperCase(); user.lastname[0] = user.lastname[0].toUpperCase() %>
    <h1>Welcome <%= user.firstname + ' ' + user.lastname %> !</h1>
    
    <h3>Week 1</h3>
    <h3>Week 2</h3>
    <h3>Week 2</h3>

    <a href="/logout">Logout</a>
</body>
</html>