<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="UTF-8">
	<title>Rewind-Remind Game</title>
	<script src="../bower_components/angular/angular.min.js"></script>
	<script src="../assets/js/angular/game.js"></script>
</head>

<script>
	x = "<%= playerdata.userID %>";	
</script>


<body ng-app="myApp" ng-controller="gameController">
		
	{{firstname}}





</body>


</html>