<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rewind Remind</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    
</head>
<body ng-app="myApp" ng-controller="myController">
    <h1> Welcome to Rewind Remind </h1>
    <p>Please <a href="/login">login</a> or <a href="/register">register</a> to continue</p>
    <p>{{value}}</p>
    <script>

        var app = angular.module('myApp', []);
        app.controller('myController', function($scope, $http) {
            

    </script>

</body>
</html>