<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rewind-Remind</title>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/particles.js/particles.min.js"></script>
    <link href="../bower_components/bulma/css/bulma.css" rel="stylesheet"></link>
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet"></link>

    <style>
         html, body, .container-table {
            height: 100%;
            background-color: #78909C; 
        }
        .container-table {
            display: table;
        }
        .vertical-center-row {
            display: table-cell;
            vertical-align: middle;
        }

        .outline {
             padding: 5px;
             background-color: white;
             outline: 1px solid black;
             box-shadow: 10px 10px;
        }


        .login-box {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%); 
        }
    </style>
</head>
<body>
    

    <div id="particles-js" style="height: 100%">
            <div class="login-box outline" style="width: 400px">
                <br>

                <p class="text-center"><a class="fa fa-home" href="/welcome" style="text-decoration: none"> Go back home</a></p>
            
                <h1 class="title text-center page-header" style="margin: 30px">Login</h1>
                
                <form action="/login" method="post" style="padding: 10px;">
    
                    <label class="label" style="color: black; font-size: 17px;">Email</label>
                    <p class="control">
                        <input class="input" type="text" placeholder="Enter Email" name="email">
                    </p>
                    <br>
                    
                    <p class="label" style="color: black; font-size: 17px;">Password</p>
                    <p class="control">
                        <input class="input" type="password" placeholder="Enter Password" name="password">
                    </p>

                    <br>

                    <p class="control text-center">
                        <button class="button is-info is-medium is-outlined">Submit</button>
                    </p>
                    <!-- <label class="label">Password</label>
                    <input type="password" name="password">

                    <button type="submit">Login</button> --> 
                </form>
                <br>

                <% if (typeof error !== 'undefined') { %>
                    
                    <p class="control">
                        <p class="help is-danger text-center" style="font-size: 14px"><%= error %></p>
                    </p>
                    <br>
                <% } %>
                <div class="text-center right-align">
                    
                    <a href="/register">Create new account</a> <br>
                <a href="/retrievepass">Forgot my password</a>
                </div>
                <br>
            </div>
    </div>

    <script>
        particlesJS.load('particles-js', '../bower_components/particles.js/demo/json-files/login-page-particles.json', function() {
          console.log('callback - particles.js config loaded');
        });


    </script>
     
</body>
</html>