<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rewind-Remind</title>
</head>
<body>
    
    <form action="/login" method="post">
    
        <p>Email</p>
        <input type="text" name="email">

        <p>Password</p>
        <input type="password" name="password">

        <button type="submit">Login</button> 
    </form>
    <br>

    <% if (typeof error !== 'undefined') { %>
        
        <p><%= error %></p>

    <% } %>
    <br>

    <a href="/register"> Create a new account </a> <br>
    <a href="/retrievepass"> Forgot my password </a> 
</body>
</html>