<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Rewind-Remind</title>
	
	<style>
	
		#important-message {
			margin: 0 auto;
		}

	</style>

</head>
<body>
	
	<div id="important-message">
		<h1>Notification from Rewind-Remind Team</h1>
		<h2>Sorry, our website is not supported on firefox. For better user-experience please use either <a href="https://www.google.com/chrome/browser/desktop/">Google Chrome</a>
		or <a href="https://www.opera.com/">Opera Browser</a></h2>
	</div>


</body>
</html>