<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Rewind-Remind</title>
	
	<style>
	
		#important-message {
			margin: 0 auto;
		}

	</style>

</head>
<body>
	
	<div id="important-message">
		<h1>SORRY, OUR WEBSITE IS NOT SUPPORTED ON FIREFOX. PLEASE USE EITHER <a href="https://www.google.com/chrome/browser/desktop/">GOOGLE CHROME</a>
		OR <a href="https://www.opera.com/">OPERA BROWSER</a></h1>
	</div>


</body>
</html>