<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rewind-Remind</title>
</head>
<body>
    
    <% if(typeof mssg !== 'undefined') { %>
        <p><%= mssg %></p> 
    <% } %>
</body>
</html>